<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta del Día</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
</head>
<body class="bg-black flex items-center justify-center h-screen"style="font-family: 'Oxanium', sans-serif">
  <div class="bg-lime-500 p-6 rounded-lg shadow-lg text-center">
    <h1 class="text-2xl font-bold mb-4">DAILY PROGRAMMING QUESTION</h1>

    <!-- Mostrar la pregunta -->
    <p class="text-xl text-gray-700 mb-4 italic text-white"><strong><%= question.question %></strong></p>

    <!-- Mostrar las opciones de respuesta -->
    <div class="flex flex-col space-y-4">
      <% question.answerOptions.forEach(option => { %>
        <button class="bg-gray-200 text-gray-800 p-2 rounded"><%= option.answer %></button>
      <% }); %>
    </div>
  </div>

  <script>
    
    const answerA = '<%= question.answerOptions[0].answer %>';
    const answerAIsCorrect = '<%= question.answerOptions[0].isCorrect %>';
    const answerB = '<%= question.answerOptions[1].answer %>';
    const answerBIsCorrect = '<%= question.answerOptions[1].isCorrect %>';
    const answerC = '<%= question.answerOptions[2].answer %>';
    const answerCIsCorrect = '<%= question.answerOptions[2].isCorrect %>';
    const answerD = '<%= question.answerOptions[3].answer %>';
    const answerDIsCorrect = '<%= question.answerOptions[3].isCorrect %>';


  
  document.querySelectorAll('button').forEach(button => {
    button.addEventListener('click', function() {
      console.log('answerA: ', answerAIsCorrect)
      if (this.textContent === answerA) {
        alert('¡Correct!');
      } else {
        alert('Incorrect. The right answer is: ' + correctAnswer);
      }
    });
  });
  </script>
</body>
</html>
