<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta del Día</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="bg-black flex items-center justify-center h-screen"style="font-family: 'Oxanium', sans-serif">
  <div class="border-4 border-primaryGreen bg-backgroundGreen p-6 rounded-lg shadow-lg text-center">
    <h1 class="text-2xl font-bold mb-4 text-white" style="font-family: 'Press Start 2P', sans-serif">DAILY PROGRAMMING QUESTION</h1>

    <!-- Mostrar la pregunta -->
    <p class="text-xl mb-4 italic text-primaryGreen"><strong><%= questionsWithShuffledAnswers[0].question %></strong></p>

    <!-- Mostrar las opciones de respuesta -->
    <div class="flex flex-col space-y-4 ">
      <% questionsWithShuffledAnswers[0].answerOptions.forEach(option => { %>
        <button class="bg-secondaryGreen text-primaryGreen border-2 border-primaryGreen p-2 rounded"><%= option.answer %></button>
      <% }); %>
    </div>
    <div class="mt-4 text-start">
      <p id="explanationtitle" class="inline bg-gray-200 mt-4 rounded"></p>
      <p id="explanation"></p>
    </div>
  </div>

  <script>
    
    const answerA = '<%= questionsWithShuffledAnswers[0].answerOptions[0].answer %>';
    const answerAIsCorrect = '<%= questionsWithShuffledAnswers[0].answerOptions[0].isCorrect %>';
    const answerB = '<%= questionsWithShuffledAnswers[0].answerOptions[1].answer %>';
    const answerBIsCorrect = '<%= questionsWithShuffledAnswers[0].answerOptions[1].isCorrect %>';
    const answerC = '<%= questionsWithShuffledAnswers[0].answerOptions[2].answer %>';
    const answerCIsCorrect = '<%= questionsWithShuffledAnswers[0].answerOptions[2].isCorrect %>';
    const answerD = '<%= questionsWithShuffledAnswers[0].answerOptions[3].answer %>';
    const answerDIsCorrect = '<%= questionsWithShuffledAnswers[0].answerOptions[3].isCorrect %>';

    const explanation = '<%= questionsWithShuffledAnswers[0].explanation %>'

    const rightAnswer = (answer1, answer2, answer3, answer4, answer1bool, answer2bool, answer3bool, answer4bool) => {
      if (answer1bool == "true") {
        console.log("answer1: ", answer1)
        return answer1;
      } else if (answer2bool == "true") {
        console.log("answer2: ", answer2)
        return answer2;
      } else if (answer3bool == "true") {
        console.log("answer3: ", answer3)
        return answer3;
      } else if (answer4bool == "true") {
        console.log("answer4: ", answer4)
        return answer4;
      }
    }
    const rightAnswerDef = rightAnswer(answerA, answerB, answerC, answerD, answerAIsCorrect, answerBIsCorrect, answerCIsCorrect, answerDIsCorrect)
    // console.log('rightAnswer: ', rightAnswerDef)

  
  document.querySelectorAll('button').forEach(button => {
    button.addEventListener('click', function() {
      console.log('rightAnswerDef: ', rightAnswerDef)
      if (this.textContent === rightAnswerDef) {
        // alert('¡Correct!');
        // button.classList.remove("bg-secondaryGreen text-primaryGreen")
        button.classList.add("bg-primaryGreen"); 
        button.classList.add("border-secondaryGreen"); 
        button.classList.add("text-secondaryGreen");
      } else {
        // button.classList.remove("bg-gray-200")
        button.classList.add("bg-errorRed"); 
        button.classList.add("border-secondaryErrorRed");  
        button.classList.add("text-white"); 
        // alert('Incorrect. The right answer is: ' + rightAnswerDef);
      }
      // Show explanation 
      const explanationtitle = document.getElementById('explanationtitle');
      const explanationEl = document.getElementById("explanation");
      explanationtitle.textContent="Explanation:";
      explanationEl.textContent = explanation;

       // Disable all buttons after any button is clicked
    document.querySelectorAll('button').forEach(btn => btn.disabled = true);
    });
  });

  tailwind.config = {
    theme: {
      extend: {
        colors: {
          primaryGreen: '#41fd5b',
          secondaryGreen: '#007410',
          darkGreen: '#35cb49',
          backgroundGreen: '#003407',
          errorRed: '#FF7070',
          secondaryErrorRed: '#DF6666'
        },
      },
    },
  };

  </script>
</body>
</html>
